
{% block title %}  {% endblock %}

{% block content %}
<body>
    <table>
        <thead>
            <th>nome</th>
            <th>foto</th>
            <th>email</th>
            <th>Data de criação</th>
            <th>Último Login</th>
        </thead>
        <tr>
            <th>{{user.nome}}</th>
            <th>{{user.photo}}</th>
            <th>{{user.email}}</th>
            <th>{{user.creationdate}}</th>
            <th>{{user.lastlogin}}</th>
        </tr>
    
        <tr>
            <button onclick="location.href = '/GamingTrack/changeMyName'">Alterar nome</button>
            <button onclick="location.href = '/GamingTrack/changeMyEmail'">Alterar email</button>
            <!--<button onclick="location.href = '/GamingTrack/changeMyPhoto'">Alterar foto</button>-->
            <button onclick="location.href = '/GamingTrack/changeMyPass'">Alterar senha</button>
            <button onclick="location.href = '/GamingTrack/deleteMyUser'">Apagar conta</button>
        </tr>

        <a href="/GamingTrack/listarUsers">Ver todos os Usuarios</a>
    
    </table>        
</body>

{% endblock %}