
{% block title %}  {% endblock %}

{% block content %}
<body>
    <table>
        <thead>
            <th>nome</th>
            <th>foto</th>
            {% if user.permissionlevel >= 4 %}
                <th>Data de criação</th>
                <th>Último Login</th>
            {%endif%}
        </thead>
        <tr>
            <th>{{visita.nome}}</th>
            <th>{{visita.photo}}</th>
            {% if user.id != visita.id%}
            <form method="POST">
                {% csrf_token %}
                {%if user.permissionlevel >= 3 and visita.permissionlevel != 1 and user.permissionlevel >= visita.permissionlevel%}
                    <button type="submit" name={{upgradar.0}}>Torná-lo um Usuário Comum</button>
                {% endif %}
                {%if user.permissionlevel >= 3 and visita.permissionlevel != 3 and user.permissionlevel >= visita.permissionlevel%}
                    <button type="submit" name={{upgradar.2}}>Torná-lo Tutor</button>
                {% endif %}
                {%if user.permissionlevel >= 4 and visita.permissionlevel != 4 and user.permissionlevel >= visita.permissionlevel%}
                    <button type="submit" name={{upgradar.3}}>Torná-lo Moderador</button>
                {%endif%}
                {%if user.permissionlevel >= 5 and visita.permissionlevel != 5 and user.permissionlevel >= visita.permissionlevel%}
                    <button type="submit" name={{upgradar.4}}>Torná-lo Administrador</button>
                {%endif%}
            </form>
            {%endif%}
            {% if user.permissionlevel >= 4 %}
                <th>{{visita.creationdate}}</th>
                <th>{{visita.lastlogin}}</th>
                <button onclick="location.href = '/GamingTrack/apagarConta'">Apagar conta</button>
            {% endif %}
        </tr>
    
    </table>        
</body>

{% endblock %}