
{% block title %}  {% endblock %}

{% block content %}
<body>
    <table>
        <thead>
            <th>nome</th>
            <th>foto</th>
            {% if user.permissionlevel >= 4 %}
                <th>Data de criação</th>
                <th>Último Login</th>
            {%endif%}
        </thead>
        <tr>
            <th>{{visita.nome}}</th>
            <th>{{visita.photo}}</th>
            {% if user.permissionlevel >= 4 %}
                <th>{{visita.creationdate}}</th>
                <th>{{visita.lastlogin}}</th>
                <button onclick="location.href = '/GamingTrack/apagarConta'">Apagar conta</button>
            {% endif %}
        </tr>
    
    </table>        
</body>

{% endblock %}