<body>
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
    <form method="POST">
        {% csrf_token %}
        {%if user.permissionlevel >= 3 and user.permissionlevel >= criador.permissionlevel and user.permissionlevel != criador.permissionlevel%}
        <button type="submit" name="apagar">Apagar este post</button>
        {% endif %}
        {%if user == criador%}
        <button type="submit" name="editar_reveiw">Editar review</button>
        <button type="submit" name="apagar">Apagar review</button>
        {%endif%}
        {%if criador != None%}
    </form>
    <form method="POST" action="/GamingTrack/listarReviews/">
        {% csrf_token %}
        <p>Criado por: </p>
        <button type="submit" name="visitar">{{criador.nome}}</button>
        {%endif%}
    </form>
</body>
